@using Microsoft.AspNetCore.Identity;
@* @inject SignInManager<IdentityUser> signInManager; *@
@inject UserManager<User> userManager
@model IEnumerable<Hotel>

<h1 class="alert alert-info text-center">
	Hotels
</h1>
<div class="row" >
	<div>
		<a asp-controller="Hotels" asp-action="GetCreateView" class="btn btn-success mb-3">
			Create New
		</a>
	</div>
	<div style="font-size:25px" class="col-12">
		<form method="get" asp-controller="Hotels" asp-action="GetIndexView">

			<label for="search">Hotel's Name</label>
			<input type="text" name="search" id="search" class="col-2" />

			<label class="col-1"></label>

			<label for="search">Max. Price</label>
			<input type="number" name="search1" id="search1" min="1" class="col-3" />

			<label class="col-1"></label>

			<button type="submit" class="btn btn-primary mb-1">Filter</button>
		</form>
	</div>
</div>
@if (Model.Count() > 0)
{
	@foreach (var item in Model)
	{
		<section style="background-color: #eee;" class="ps-5 pe-5">
			<div class=" py-5">
				<div class="row justify-content-center mb-3 rounded-3">
					<div>
						<div class="card shadow-0 border" style="border-radius: 25px;">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
										<div class="bg-image hover-zoom ripple rounded ripple-surface">
											<img src="@item.ImageUrl"
												 class="w-100 rounded-3" />
											<a href="#!">
												<div class="hover-overlay">
													<div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
												</div>
											</a>
										</div>
									</div>
									<div class="col-md-6 col-lg-6 col-xl-6">
										<h2>@item.Name</h2>
										<div class="d-flex flex-row">
											<div class="text-danger mt-1 mb-2 me-5">
												@for (var i = 0; i < item.Star; i++)
												{
													<i class="bi bi-star fa-2x" style="font-size:30px"></i>
												}
											</div>
											<div class="text-danger mt-1 mb-2 me-2" style="font-size:30px; text-align:center;">
												@item.Rate
											</div>
										</div>
										<p class="mb-4 mb-md-0" style="font-size:25px">
											@item.Description
										</p>
									</div>
									<div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
										<div class="d-flex flex-row align-items-center mb-1">
											<h3 class="mb-1 me-1">$@item.Price</h3>
										</div>
										<div class="d-flex flex-column mt-4">
											@if (User.IsInRole("Administrator"))
											{
												<a asp-controller="Hotels" asp-action="GetDetailsView"
												asp-route-id="@item.Id" title="Details">
													<button class="btn btn-outline-primary btn-sm col-12" style="font-size:25px" type="button">
														Details
													</button>
												</a>

												<a asp-controller="Hotels" asp-action="GetEditView"
												asp-route-id="@item.Id" title="Edit" class="mt-2">
													<button class="btn btn-outline-success btn-sm col-12" style="font-size:25px" type="button">
														Edit
													</button>
												</a>
												<a asp-controller="Hotels" asp-action="GetDeleteView"
												asp-route-id="@item.Id" title="Delete" class="mt-2">
													<button class="btn btn-outline-danger btn-sm col-12" style="font-size:25px" type="button">
														Delete
													</button>
												</a>
											}
											else if (User.IsInRole("User"))
											{
												<a asp-controller="Hotels" asp-action="BookHotel" asp-route-id="@item.Id" asp-route-email="@User.Identity.Name">
												<button class="btn btn-outline-success btn-sm col-12" style="font-size:25px" type="button">
													Book
												</button>
												</a>
											}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	}
}
else
{
	<h1 class="alert alert-danger text-center mt-3">There is no data.</h1>
}

